
header{
    .colornav{
	background-color:rgba(204, 186, 139, 0.8);

   } 

   .navbar-nav a{
	font-size: 4rem;
	font-family: Smooch Sans;
	color: grey;
	text-decoration: beige;
	justify-content: end;
   }
}