
header{
    .colornav{
	background-color:rgba(204, 186, 139, 0.8);

   } 

   .navbar-nav a{
	font-size: 2rem;
	font-family: Smooch Sans;
	color: grey;
	text-decoration: beige;
	display: flex;
	justify-content: end;

	@media(min-width: 576px){
		font-size: 3rem;
	}
   }

  
	
}

.navbar {
	flex-wrap: nowrap;
}
