.promo{
	flex: wrap;
}

.ofertas {

	.textCenter2{
		font-size: 6rem;
	}


	figure {
		text-align: center;
    
	
		img {
			border-top-left-radius:5px ;
			border-top-right-radius: 5px;
            width: 400px;
            height: 300px;
	
		}
		figcaption{
			font-size: 3rem;
			color:rgb(138, 92, 50);
			padding: 1px 0;
			background-color:rgba(204, 186, 139, 0.8);
			height:100px;
			

			.precio{
				color: rgb(110, 104,87);
				font-size: 2rem;
				
				
			}
		
		
		}
		
	
	// }

	}
	.productos{
		margin: 40px;
		width: 395px;
		height: 420px;
		display: flex;
		justify-content: center;
		
	}
		
} 


	.promocion {
		width: 90px;
		height: auto;
		border-style: solid;
		border-color: rgb(199, 178, 121) ;
		color: gray;
    }