

.nosotros{
	flex: wrap;

    .texto2{
        width:50%;
        margin-left: 500px;
        padding: 10px;
        text-align: center;
        
    }
    .textCenter2 {
        text-align: center;
        margin: 100px 10px;
        font-size: 6rem;
        font-family: Oswald;
    }
    
    .sierras{
        display: flex;
        justify-content: center;
        padding: 20px;
        
    }
}
