
.registroamapola{
    width: 400px;
    background-color: rgba(204,  186, 139, 0.8);
    padding:30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Roboto ;
    color:rgb(0, 0, 0);
    
    .registrotitulo{
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    .registrotitulo{
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
    }

    .micuenta{
        width: 100%;
        background: rgb(236, 223, 200) ;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid rgb(102, 125, 71);;
        font-family: serif;
        font-size: 18px;
    }
    .registroamapola p{
        height: 40px;
        text-align: center;
        font-size: 18px;
        line-height: 40px
    }
      
    .iniciosesion{
        color: rgb(1, 1, 1);
        
    }

}
    
    