
.productos{
	
	display: flex;
	justify-content: center;
    
    
    img{
     width: 460px;
     height: 382px;
    }

   

    .tituloproducto{
        font-size: 25px;
        color:rgb(138, 92, 50);
        text-align: center;
 
    }

    .precioproducto{
        font-size: 18px;
        text-align:center;
        padding-bottom: 20px;
        color: rgb(181, 143, 55);
        font-family: Oswald ;
        
    }
    
    .descripcion{
        font-size: 15px;
        text-align: center;
    }

    
}
